            <div class="block-bg m-4 rounded-lg p-4" style="text-align: center; margin-top: 4rem">
                <h3 class="text-xl highlight not-prose">Subscribe for More</h3>
                <h5 class="">I'll tell you about new posts. I take your privacy seriously.</h5>
                <form action="https://sendy.slater.dev/subscribe" method="POST" accept-charset="utf-8">
	                <input type="text" class="styled-input" placeholder="Your Name" name="name" id="name"/>
	                <input type="email" class="styled-input" placeholder="your@email.com" name="email" id="email"/>
	                <input type="hidden" name="list" value="7ZqxcOosCPMrV8927kt7UJyg"/>
	                <input type="hidden" name="subform" value="yes"/>
	                <input type="submit" class="cta-button" name="submit" id="submit" value="Subscribe Me!"/>
                </form>
            </div>
